In [1]:
# import dependencies
import pandas as pd
import gmaps

import matplotlib.pyplot as plt
import numpy as np

import json
import requests

from config import API_Key

In [2]:
# import csv file as data frame
df=pd.read_csv("Clean_Data/cities_climate_pop.csv")
df=df.drop(columns=['Unnamed: 0'])
df

,City,Climate Classification,Lat,Lon,Country,Population
0,Tokyo,Cfa,35.6839,139.7744,Japan,39105000.0
1,Jakarta,Af,-6.2146,106.8451,Indonesia,35362000.0
2,Delhi,BSk,28.6667,77.2167,India,31870000.0
3,Delhi,BSk,37.4306,-120.7759,United States,12301.0
4,Manila,Am,14.6000,120.9833,Philippines,23971000.0
...,...,...,...,...,...,...
41781,Los Blancos,Cwa,-23.5996,-62.6000,Argentina,1145.0
41782,Mirbāţ,BWh,16.9924,54.6918,Oman,1120.0
41783,Dikson,ET,73.5070,80.5451,Russia,1113.0
41784,Klyuchi,ET,56.3000,160.8500,Russia,1089.0
41785,Besalampy,Aw,-16.7495,44.4833,Madagascar,1022.0

In [3]:
# import powerplants csv
powerplants_df = pd.read_csv("Clean_Data/PowerPlantsSorted.csv")
powerplants_df

,country_long,name,latitude,longitude,primary_fuel
0,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,32.3220,65.1190,Hydro
1,Afghanistan,Kandahar DOG,31.6700,65.7950,Solar
2,Afghanistan,Kandahar JOL,31.6230,65.7920,Solar
3,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,34.5560,69.4787,Hydro
4,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,34.6410,69.7170,Hydro
...,...,...,...,...,...
34931,Zambia,Ndola,-12.9667,28.6333,Oil
34932,Zambia,Nkana,-12.8167,28.2000,Oil
34933,Zambia,Victoria Falls,-17.9167,25.8500,Hydro
34934,Zimbabwe,Hwange Coal Power Plant Zimbabwe,-18.3835,26.4700,Coal
34935,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,-16.5222,28.7619,Hydro

In [ ]:
# lists all climate classifcation types
df["Climate Classification"].value_counts()
all_climates = [x for x in df["Climate Classification"].value_counts().index]
all_climates

In [6]:
# sort climate classification csv by column "City" and by rows named Melbourne
city = "Melbourne"
df.loc[(df['City']==city)]

,City,Climate Classification,Lat,Lon,Country,Population
240,Melbourne,Cfa,-37.8136,144.9631,Australia,4529500.0
241,Melbourne,Cfa,28.1085,-80.6627,United States,83029.0

In [45]:
# filtering data frame by cities with the "Cfa" climate classifcation, and population similar to Melbourne
pop_max= 5000000
pop_min= 4000000

classification = "Cfa"

filter_df = df.loc[(df['Climate Classification']==classification) & (df['Population'] >=pop_min) & (df['Population'] < pop_max)]
filter_df

,City,Climate Classification,Lat,Lon,Country,Population
198,Fuzhou,Cfa,27.9814,116.3577,China,4047200.0
208,Huaihua,Cfa,27.5494,109.9592,China,4979600.0
209,Ji’an,Cfa,27.1172,114.9793,China,4956600.0
210,Xiaoganzhan,Cfa,30.9273,113.9110,China,4921000.0
212,Jiujiang,Cfa,29.7048,116.0021,China,4896800.0
224,Sydney,Cfa,-33.8650,151.2094,Australia,4840600.0
227,Chenzhou,Cfa,25.7989,113.0267,China,4744500.0
231,Anqing,Cfa,30.5000,117.0333,China,4723000.0
240,Melbourne,Cfa,-37.8136,144.9631,Australia,4529500.0
246,Yangzhou,Cfa,32.3912,119.4363,China,4459760.0
249,Yiyang,Cfa,28.5833,112.3333,China,4413800.0
251,Guigang,Cfa,23.0961,109.6092,China,4409200.0
253,Meizhou,Cfa,24.2998,116.1191,China,4378800.0
266,Zhaoqing,Cfa,23.0500,112.4667,China,4151700.0
267,Xiaoxita,Cfa,30.7083,111.2803,China,4137900.0
268,Xiamen,Cfa,24.4797,118.0819,China,4110000.0
269,Liuzhou,Cfa,24.3264,109.4281,China,4041700.0
270,Zhuzhou,Cfa,27.8407,113.1469,China,4020800.0

In [185]:
# attempted to access JSON data with air quality data for a given lat and lon in a list
# then tried to append it to a list
# then tried to add it to a new df called airquality_df

# cannot use a list comprehension to run API for each city in the "filter_df" data frame!!!!!!
# API does not allow that many requests that fast

# will append JSON manually for 6 countries

[31]

In [225]:
AirQualityIndexUS_list = []

Fuzhou_filter_df = filter_df.set_index("City")
Fuzhou_lat= Fuzhou_filter_df.loc["Fuzhou", "Lat"]
Fuzhou_lat

Fuzhou_filter_df = filter_df.set_index("City")
Fuzhou_lon= Fuzhou_filter_df.loc["Fuzhou", "Lon"]
Fuzhou_lon

LATITUDE = Fuzhou_lat
LONGITUDE = Fuzhou_lon

url_lat_long = f"http://api.airvisual.com/v2/nearest_city?lat={LATITUDE}&lon={LONGITUDE}&key={API_Key}"

response_lat_long=requests.get(url_lat_long)
data_lat_long=response_lat_long.json()

AirQualityIndexUS_list.append(data_lat_long["data"]["current"]["pollution"]["aqius"])

AirQualityIndexUS_list

[37]

In [226]:

Huaihua_filter_df = filter_df.set_index("City")
Huaihua_lat= Huaihua_filter_df.loc["Huaihua", "Lat"]
Huaihua_lat

Huaihua_filter_df = filter_df.set_index("City")
Huaihua_lon= Huaihua_filter_df.loc["Huaihua", "Lon"]
Huaihua_lon

LATITUDE = Huaihua_lat
LONGITUDE = Huaihua_lon

url_lat_long = f"http://api.airvisual.com/v2/nearest_city?lat={LATITUDE}&lon={LONGITUDE}&key={API_Key}"

response_lat_long=requests.get(url_lat_long)
data_lat_long=response_lat_long.json()

AirQualityIndexUS_list.append(data_lat_long["data"]["current"]["pollution"]["aqius"])

AirQualityIndexUS_list

[37, 57]

In [227]:
Sydney_filter_df = filter_df.set_index("City")
Sydney_lat= Sydney_filter_df.loc["Sydney", "Lat"]
Sydney_lat

Sydney_filter_df = filter_df.set_index("City")
Sydney_lon= Sydney_filter_df.loc["Sydney", "Lon"]
Sydney_lon

LATITUDE = Sydney_lat
LONGITUDE = Sydney_lon

url_lat_long = f"http://api.airvisual.com/v2/nearest_city?lat={LATITUDE}&lon={LONGITUDE}&key={API_Key}"

response_lat_long=requests.get(url_lat_long)
data_lat_long=response_lat_long.json()

AirQualityIndexUS_list.append(data_lat_long["data"]["current"]["pollution"]["aqius"])

AirQualityIndexUS_list

[37, 57, 5]

In [228]:
Anqing_filter_df = filter_df.set_index("City")
Anqing_lat= Anqing_filter_df.loc["Anqing", "Lat"]
Anqing_lat

Anqing_filter_df = filter_df.set_index("City")
Anqing_lon= Anqing_filter_df.loc["Anqing", "Lon"]
Anqing_lon

LATITUDE = Anqing_lat
LONGITUDE = Anqing_lon

url_lat_long = f"http://api.airvisual.com/v2/nearest_city?lat={LATITUDE}&lon={LONGITUDE}&key={API_Key}"

response_lat_long=requests.get(url_lat_long)
data_lat_long=response_lat_long.json()

AirQualityIndexUS_list.append(data_lat_long["data"]["current"]["pollution"]["aqius"])

AirQualityIndexUS_list

[37, 57, 5, 50]

In [229]:
melb_filter_df = filter_df.set_index("City")
melb_lat= melb_filter_df.loc["Melbourne", "Lat"]
melb_lat

melb_filter_df = filter_df.set_index("City")
melb_lon= melb_filter_df.loc["Melbourne", "Lon"]
melb_lon

LATITUDE = melb_lat
LONGITUDE = melb_lon

url_lat_long = f"http://api.airvisual.com/v2/nearest_city?lat={LATITUDE}&lon={LONGITUDE}&key={API_Key}"

response_lat_long=requests.get(url_lat_long)
data_lat_long=response_lat_long.json()

AirQualityIndexUS_list.append(data_lat_long["data"]["current"]["pollution"]["aqius"])

AirQualityIndexUS_list

[37, 57, 5, 50, 44]

In [231]:
Xiaoxita_filter_df = filter_df.set_index("City")
Xiaoxita_lat= Xiaoxita_filter_df.loc["Xiaoxita", "Lat"]
Xiaoxita_lat

Xiaoxita_filter_df = filter_df.set_index("City")
Xiaoxita_lon= Xiaoxita_filter_df.loc["Xiaoxita", "Lon"]
Xiaoxita_lon

LATITUDE = Xiaoxita_lat
LONGITUDE = Xiaoxita_lon

url_lat_long = f"http://api.airvisual.com/v2/nearest_city?lat={LATITUDE}&lon={LONGITUDE}&key={API_Key}"

response_lat_long=requests.get(url_lat_long)
data_lat_long=response_lat_long.json()

AirQualityIndexUS_list.append(data_lat_long["data"]["current"]["pollution"]["aqius"])

AirQualityIndexUS_list

[37, 57, 5, 50, 44, 61]

In [232]:
# create the air quality data frame
aq_df = filter_df.loc[filter_df["City"].isin(["Melbourne","Huaihua","Sydney","Fuzhou","Xiaoxita","Anqing"])]
aq_df

,City,Climate Classification,Lat,Lon,Country,Population
198,Fuzhou,Cfa,27.9814,116.3577,China,4047200.0
208,Huaihua,Cfa,27.5494,109.9592,China,4979600.0
224,Sydney,Cfa,-33.8650,151.2094,Australia,4840600.0
231,Anqing,Cfa,30.5000,117.0333,China,4723000.0
240,Melbourne,Cfa,-37.8136,144.9631,Australia,4529500.0
267,Xiaoxita,Cfa,30.7083,111.2803,China,4137900.0

In [245]:
# now that a list of AQIUS has been created from the API, we will add it to the data frame
aq_df["Air Quality Index US"] = AirQualityIndexUS_list
aq_df

f:\Anaconda\envs\bootcamp\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Climate Classification,Lat,Lon,Country,Population,Air Quality Index US
198,Fuzhou,Cfa,27.9814,116.3577,China,4047200.0,37
208,Huaihua,Cfa,27.5494,109.9592,China,4979600.0,57
224,Sydney,Cfa,-33.8650,151.2094,Australia,4840600.0,5
231,Anqing,Cfa,30.5000,117.0333,China,4723000.0,50
240,Melbourne,Cfa,-37.8136,144.9631,Australia,4529500.0,44
267,Xiaoxita,Cfa,30.7083,111.2803,China,4137900.0,61

In [243]:
# now find how many power plants within 1 degree proximity to the city, add to a list and append list to data frame above
powerplants_cities_list = []

city_filter_df = filter_df.set_index("City")
city_lat= city_filter_df.loc["Fuzhou", "Lat"]
city_lat

city_filter_df = filter_df.set_index("City")
city_lon= city_filter_df.loc["Fuzhou", "Lon"]
city_lon

city_lat_filter_min= city_lat-1
city_lat_filter_max= city_lat+1

city_lon_filter_min= city_lon-1		
city_lon_filter_max= city_lon+1

city_melb_filter_powerplants_df = powerplants_df.loc[(powerplants_df['latitude'] >=city_lat_filter_min) & (powerplants_df['latitude'] <= city_lat_filter_max)]

lat_lon_city_filter_powerplants_df = city_melb_filter_powerplants_df.loc[(powerplants_df['longitude'] >=city_lon_filter_min) & (powerplants_df['longitude'] <= city_lon_filter_max)]

powerplants_cities_list.append(lat_lon_city_filter_powerplants_df.__len__())
# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
city_filter_df = filter_df.set_index("City")
city_lat= city_filter_df.loc["Huaihua", "Lat"]
city_lat

city_filter_df = filter_df.set_index("City")
city_lon= city_filter_df.loc["Huaihua", "Lon"]
city_lon

city_lat_filter_min= city_lat-1
city_lat_filter_max= city_lat+1

city_lon_filter_min= city_lon-1		
city_lon_filter_max= city_lon+1

city_melb_filter_powerplants_df = powerplants_df.loc[(powerplants_df['latitude'] >=city_lat_filter_min) & (powerplants_df['latitude'] <= city_lat_filter_max)]

lat_lon_city_filter_powerplants_df = city_melb_filter_powerplants_df.loc[(powerplants_df['longitude'] >=city_lon_filter_min) & (powerplants_df['longitude'] <= city_lon_filter_max)]

powerplants_cities_list.append(lat_lon_city_filter_powerplants_df.__len__())
# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
city_filter_df = filter_df.set_index("City")
city_lat= city_filter_df.loc["Sydney", "Lat"]
city_lat

city_filter_df = filter_df.set_index("City")
city_lon= city_filter_df.loc["Sydney", "Lon"]
city_lon

city_lat_filter_min= city_lat-1
city_lat_filter_max= city_lat+1

city_lon_filter_min= city_lon-1		
city_lon_filter_max= city_lon+1

city_melb_filter_powerplants_df = powerplants_df.loc[(powerplants_df['latitude'] >=city_lat_filter_min) & (powerplants_df['latitude'] <= city_lat_filter_max)]

lat_lon_city_filter_powerplants_df = city_melb_filter_powerplants_df.loc[(powerplants_df['longitude'] >=city_lon_filter_min) & (powerplants_df['longitude'] <= city_lon_filter_max)]

powerplants_cities_list.append(lat_lon_city_filter_powerplants_df.__len__())
# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
city_filter_df = filter_df.set_index("City")
city_lat= city_filter_df.loc["Anqing", "Lat"]
city_lat

city_filter_df = filter_df.set_index("City")
city_lon= city_filter_df.loc["Anqing", "Lon"]
city_lon

city_lat_filter_min= city_lat-1
city_lat_filter_max= city_lat+1

city_lon_filter_min= city_lon-1		
city_lon_filter_max= city_lon+1

city_melb_filter_powerplants_df = powerplants_df.loc[(powerplants_df['latitude'] >=city_lat_filter_min) & (powerplants_df['latitude'] <= city_lat_filter_max)]

lat_lon_city_filter_powerplants_df = city_melb_filter_powerplants_df.loc[(powerplants_df['longitude'] >=city_lon_filter_min) & (powerplants_df['longitude'] <= city_lon_filter_max)]

powerplants_cities_list.append(lat_lon_city_filter_powerplants_df.__len__())
# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
city_filter_df = filter_df.set_index("City")
city_lat= city_filter_df.loc["Melbourne", "Lat"]
city_lat

city_filter_df = filter_df.set_index("City")
city_lon= city_filter_df.loc["Melbourne", "Lon"]
city_lon

city_lat_filter_min= city_lat-1
city_lat_filter_max= city_lat+1

city_lon_filter_min= city_lon-1		
city_lon_filter_max= city_lon+1

city_melb_filter_powerplants_df = powerplants_df.loc[(powerplants_df['latitude'] >=city_lat_filter_min) & (powerplants_df['latitude'] <= city_lat_filter_max)]

lat_lon_city_filter_powerplants_df = city_melb_filter_powerplants_df.loc[(powerplants_df['longitude'] >=city_lon_filter_min) & (powerplants_df['longitude'] <= city_lon_filter_max)]

powerplants_cities_list.append(lat_lon_city_filter_powerplants_df.__len__())
# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
city_filter_df = filter_df.set_index("City")
city_lat= city_filter_df.loc["Xiaoxita", "Lat"]
city_lat

city_filter_df = filter_df.set_index("City")
city_lon= city_filter_df.loc["Xiaoxita", "Lon"]
city_lon

city_lat_filter_min= city_lat-1
city_lat_filter_max= city_lat+1

city_lon_filter_min= city_lon-1		
city_lon_filter_max= city_lon+1

city_melb_filter_powerplants_df = powerplants_df.loc[(powerplants_df['latitude'] >=city_lat_filter_min) & (powerplants_df['latitude'] <= city_lat_filter_max)]

lat_lon_city_filter_powerplants_df = city_melb_filter_powerplants_df.loc[(powerplants_df['longitude'] >=city_lon_filter_min) & (powerplants_df['longitude'] <= city_lon_filter_max)]

powerplants_cities_list.append(lat_lon_city_filter_powerplants_df.__len__())
# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

powerplants_cities_list

[14, 32, 31, 20, 25, 21]

In [248]:
# adds powerplants list to air quality data frame
aq_df["Number of Power Plants within 1 degree Lat/Lon"] = powerplants_cities_list
aq_df

aq_df.to_csv('Clean_Data/AirQuality_PowerPlants.csv',index=False)

f:\Anaconda\envs\bootcamp\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# obtains the air quality data for Melbourne, Victoria, Australia
target_city = "Melbourne"
target_state = "Victoria"
target_country = "Australia"

url = f"http://api.airvisual.com/v2/city?city={target_city}&state={target_state}&country={target_country}&key={API_Key}"

response=requests.get(url)
data=response.json()
print(json.dumps(data,indent=4,sort_keys=4))

# realised this was un-needed, because we were going to proceed with accessing API through lat/long, rather than by specific city

In [ ]:
# obtains the air quality data for lat/long corresponding to Melbourne
# this block of code was used to test accessing the API using latitude and longitude
LATITUDE = -37.8136
LONGITUDE = 144.9631		

url_lat_long = f"http://api.airvisual.com/v2/nearest_city?lat={LATITUDE}&lon={LONGITUDE}&key={API_Key}"

response_lat_long=requests.get(url_lat_long)
data_lat_long=response_lat_long.json()
print(json.dumps(data_lat_long,indent=4,sort_keys=4))

In [79]:
# print the US air quality index for Melbourne
print(data_lat_long["data"]["current"]["pollution"]["aqius"])

43

In [80]:
# obtains the air quality data for lat/long corresponding to Fuzhou
LATITUDE = 27.9814
LONGITUDE = 116.3577		

url_lat_long = f"http://api.airvisual.com/v2/nearest_city?lat={LATITUDE}&lon={LONGITUDE}&key={API_Key}"

response_lat_long=requests.get(url_lat_long)
data_lat_long=response_lat_long.json()
print(json.dumps(data_lat_long,indent=4,sort_keys=4))

{
    "data": {
        "city": "Fuzhou",
        "country": "China",
        "current": {
            "pollution": {
                "aqicn": 24,
                "aqius": 35,
                "maincn": "o3",
                "mainus": "p2",
                "ts": "2022-06-27T02:00:00.000Z"
            },
            "weather": {
                "hu": 63,
                "ic": "04d",
                "pr": 1004,
                "tp": 32,
                "ts": "2022-06-27T03:00:00.000Z",
                "wd": 184,
                "ws": 6.4
            }
        },
        "location": {
            "coordinates": [
                116.3609188669,
                27.9545451703
            ],
            "type": "Point"
        },
        "state": "Jiangxi"
    },
    "status": "success"
}

In [81]:
# print the US air quality index for Fuzhou
print(data_lat_long["data"]["current"]["pollution"]["aqius"])

35

In [158]:
# obtains the Latitude value of Melbourne from filter_df
melb_filter_df = filter_df.set_index("City")
melb_lat= melb_filter_df.loc["Melbourne", "Lat"]
melb_lat

-37.8136

In [160]:
# obtains the Longitude value of Melbourne from filter_df
melb_filter_df = filter_df.set_index("City")
melb_lon= melb_filter_df.loc["Melbourne", "Lon"]
melb_lon

144.9631

In [162]:
# filtering powerplants data frame by lat/long within 1 degree to Melbourne

melb_filter_df = filter_df.set_index("City")
melb_lat= melb_filter_df.loc["Melbourne", "Lat"]
melb_lat

melb_filter_df = filter_df.set_index("City")
melb_lon= melb_filter_df.loc["Melbourne", "Lon"]
melb_lon

melb_lat_filter_min= melb_lat-1
melb_lat_filter_max= melb_lat+1

melb_lon_filter_min= melb_lon-1		
melb_lon_filter_max= melb_lon+1

lat_melb_filter_powerplants_df = powerplants_df.loc[(powerplants_df['latitude'] >=melb_lat_filter_min) & (powerplants_df['latitude'] <= melb_lat_filter_max)]

lat_lon_melb_filter_powerplants_df = lat_melb_filter_powerplants_df.loc[(powerplants_df['longitude'] >=melb_lon_filter_min) & (powerplants_df['longitude'] <= melb_lon_filter_max)]

lat_lon_melb_filter_powerplants_df
# reveals power plants within close proximity to Melbourne

    country_long                       name  latitude  longitude primary_fuel
340    Australia                   Anglesea  -38.3861   144.1828         Coal
360    Australia                    Berwick  -38.1197   145.2665        Waste
375    Australia               Broadmeadows  -37.6878   144.9663        Waste
379    Australia                   Brooklyn  -37.8180   144.8319        Waste
418    Australia                   Claytons  -37.9502   145.1187        Waste
436    Australia                      Corio  -38.0587   144.4056        Waste
458    Australia                     Eildon  -37.2220   145.9215        Hydro
459    Australia         Eildon Small Hydro  -37.2431   145.8974        Hydro
490    Australia                Hallam Road  -38.0535   145.2699        Waste
557    Australia             Laverton North  -37.8416   144.7887          Gas
561    Australia              Leonards Hill  -37.4271   144.1222         Wind
571    Australia              Lower Rubicon  -37.3027   145.8458        Hydro
589    Australia                  Melbourne  -37.8086   144.9685          Gas
594    Australia  Moorabool North Wind Farm  -37.6550   144.1913         Wind
595    Australia  Moorabool South Wind Farm  -37.7402   144.1622         Wind
599    Australia                 Mornington  -38.3916   144.8553        Waste
628    Australia                    Newport  -37.8415   144.8942          Gas
692    Australia                    Rubicon  -37.3272   145.8605        Hydro
703    Australia                   Somerton  -37.6318   144.9531          Gas
706    Australia                 Springvale  -37.9733   145.1396        Waste
721    Australia       Symex Port Melbourne  -37.8298   144.9444          Gas
804    Australia                    Wollert  -37.5830   145.0487        Waste
805    Australia        Wonthaggi Wind Farm  -38.6037   145.5462         Wind
812    Australia                    Wyndham  -37.9375   144.5902        Waste
815    Australia     Yaloak South Wind Farm  -37.7281   144.2408         Wind

In [167]:
# the amount of power plants within 1 degree of proximity (lat/lon) to Melbourne
lat_lon_melb_filter_powerplants_df.__len__()

25

In [164]:
# filtering powerplants data frame within 1 degree to Fuzhou

fuzhou_filter_df = filter_df.set_index("City")
fuzhou_lat= fuzhou_filter_df.loc["Fuzhou", "Lat"]
fuzhou_lat

fuzhou_filter_df = filter_df.set_index("City")
fuzhou_lon= fuzhou_filter_df.loc["Fuzhou", "Lon"]
fuzhou_lon

fuzhou_lat_filter_min= fuzhou_lat-1
fuzhou_lat_filter_max= fuzhou_lat+1

fuzhou_lon_filter_min= fuzhou_lon-1		
fuzhou_lon_filter_max= fuzhou_lon+1

lat_fuzhou_filter_powerplants_df = powerplants_df.loc[(powerplants_df['latitude'] >=fuzhou_lat_filter_min) & (powerplants_df['latitude'] <= fuzhou_lat_filter_max)]
lat_lon_fuzhou_filter_powerplants_df = lat_fuzhou_filter_powerplants_df.loc[(powerplants_df['longitude'] >=fuzhou_lon_filter_min) & (powerplants_df['longitude'] <= fuzhou_lon_filter_max)]

lat_lon_fuzhou_filter_powerplants_df
# reveals power plants within close proximity to Fuzhou

,country_long,name,latitude,longitude,primary_fuel
5282,China,CPI Xinchang power station,28.8612,115.9764,Coal
5519,China,Datang Fuzhou power station,27.7855,116.5638,Coal
5873,China,Ganneng Fengcheng power station,28.1997,115.7097,Coal
6096,China,Guixi CPI,28.2560,117.2140,Solar
6097,China,Guixi Kong,28.0500,117.2100,Solar
6098,China,Guixi PC,28.3300,117.2600,Solar
6099,China,Guixi power station,28.2891,117.2231,Coal
6130,China,Guodian Huangjinbu power station,28.4508,116.8603,Coal
6960,China,Jiangxi Lean County Dongan Small,27.2361,115.8025,Hydro
7135,China,Jing’an Renshou,28.8650,115.5050,Solar
7288,China,Leping A,28.8840,117.3000,Solar
7289,China,Leping II,28.8100,117.2900,Solar
7563,China,Nanchang Changbei Mill power station,28.7710,115.8999,Coal
9022,China,Yugan,28.8400,116.4200,Solar

In [168]:
# the amount of power plants within 1 degree of proximity (lat/lon) to Fuzhou
lat_lon_fuzhou_filter_powerplants_df.__len__()

14

In [121]:
# sort power plants csv by power plants in Australia
country_long = "Australia"

powerplants_australia = powerplants_df.loc[(powerplants_df['country_long']==country_long)]
powerplants_australia.__len__()

# reveals there are 486 power plants within Australia

486

In [122]:
# sort power plants csv by power plants in China
country_long = "China"

powerplants_china = powerplants_df.loc[(powerplants_df['country_long']==country_long)]
powerplants_china.__len__()

# reveals there are 486 power plants within China

4235

In [123]:
# used this to test appending to lists from API

# test_list=[]
# test_list.append(data_lat_long["data"]["current"]["pollution"]["aqius"])
# test_list