In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Clean_Data/cities_climate_pop.csv")
df=df.drop(columns=['Unnamed: 0'])
df

,City,Climate Classification,Lat,Lon,Country,Population
0,Tokyo,Cfa,35.6839,139.7744,Japan,39105000.0
1,Jakarta,Af,-6.2146,106.8451,Indonesia,35362000.0
2,Delhi,BSk,28.6667,77.2167,India,31870000.0
3,Delhi,BSk,37.4306,-120.7759,United States,12301.0
4,Manila,Am,14.6000,120.9833,Philippines,23971000.0
...,...,...,...,...,...,...
41781,Los Blancos,Cwa,-23.5996,-62.6000,Argentina,1145.0
41782,Mirbāţ,BWh,16.9924,54.6918,Oman,1120.0
41783,Dikson,ET,73.5070,80.5451,Russia,1113.0
41784,Klyuchi,ET,56.3000,160.8500,Russia,1089.0
41785,Besalampy,Aw,-16.7495,44.4833,Madagascar,1022.0

In [21]:
pop_max= 7000000
pop_min= 1
classification = "ET"

df.loc[(df['Climate Classification']==classification) & (df['Population'] >=pop_min) & (df['Population'] < pop_max)]

,City,Climate Classification,Lat,Lon,Country,Population
1146,Nuuk,ET,64.1750,-51.7333,Greenland,18326.0
1633,Qamdo,ET,31.1375,97.1777,China,598862.0
2142,Nagqu,ET,31.4766,92.0569,China,414554.0
2273,Huancayo,ET,-12.0667,-75.2167,Peru,378203.0
3983,Petropavlovsk-Kamchatskiy,ET,53.0167,158.6500,Russia,181216.0
...,...,...,...,...,...,...
41741,Provideniya,ET,64.4235,-173.2258,Russia,2536.0
41750,Egvekinot,ET,66.3221,-179.1837,Russia,2248.0
41780,Puerto Acosta,ET,-15.4996,-69.1667,Bolivia,1123.0
41783,Dikson,ET,73.5070,80.5451,Russia,1113.0
41784,Klyuchi,ET,56.3000,160.8500,Russia,1089.0